@charset "utf-08";

/*Paleta de cores
    verde: #49a09d
    Lilas: #5f2c82
*/
/*Cores: 
1-#755a3c
2-#684d32
3-#654b31
4-#9c896b
5-#a19370
6-#eaebcf
7-#e8e4c8
8-#e9dfc9
9-#e3d4c0
10-#dac9b6
11-#d0beab
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html{
    background-image: linear-gradient(to top,#6b5236, #60472e, #7a5938, #a0814e, #a99a74, #cec9a4, #e9dfc9, #e3d4c0, #dac9b6, #d0beab);
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section{
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: white;
    background-position: center center;
    background-size: cover;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}
section > #imagem{
    display: block;
    background: black url(../imagens/Dune\ Wallpaper.jpg) no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 200px;
}
section > #form{
    display: block;
    padding: 10px;
}

#form > h1{
    font-size: 1.448em;
    text-align: center;
    margin-bottom: 10px;
}
#form > p{
    font-size: 0.9em;
    margin-bottom: 10px;
}

form > div.campo{
    background-color: rgba(12, 12, 12, 0.947);
    border: 2px solid rgba(21, 20, 20, 0.812);;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

.campo > span{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input{
    background-color: rgb(178, 174, 174);
    width: calc(100% - 45px);
    font-size: 1em;
    height: 100%;
    border: none;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-13.5px);
}

div.campo > input:focus-within{
    background-color: white;
}


form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #9d7d4a;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

form > input[type=submit]:hover{
    background-color: #9f8262 ;
}
form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    padding-top: 10px;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: white;
    border: 2px solid #684d32;
    border-radius: 8px;
    text-decoration: none;
}

form > a{
    color: #b87023;
}

form > a.botao:hover{
    background-color: #b09273;
}

form > a.botao > span{
    font-size: 0.8em;
}